 /* Internal inline styles */
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


/* Header styles */
header {
    background-color: orange;
    color: #fff;
    text-align: center;
    padding: 1rem;
}


nav {
    background-color: burlywood;
    padding: 0.5rem;
    text-align: center;
}


nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}


#courses {
    padding: 2rem;
    text-align: center;
}


#contact {
    padding: 2rem;
    text-align: center;
}

#project > h2{
    text-align: center;
}


iframe {
    width: 40%;
    border: 5px double orange;
}


form {
    margin-top: 1rem;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: antiquewhite;
}


th, td {
    border: 5px outset gray;
    padding: 0.5rem;
    text-align: center;
}